*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}



.header{
    width: 100%;
    height: 100vh;
    background-image: url("img/Rectangle\ 7.png"), url("img/Ảnh\ chụp\ Màn\ hình\ 2023-06-22\ lúc\ 09.07.43.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
}

.form{
    background-color: rgba(246, 246, 246, 1);
    flex-basis: 45%;
}

.form-exit{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 161px;
    height: 30px;
    margin-top: 40px;
    margin-left: 50px;
}
.form-exit-dangnhap{
    color: rgba(195, 34, 112, 1);
    font-size: 20px;
    height: 25px;
    width: 116px;
    margin-top: 2px;
}

.form-logo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.form-chaomung{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-login{
    margin-top: 40px;
    color: rgba(186, 186, 186, 1);
    text-align: center;
    justify-content: center;
}

.form-login-email{
    width: 523px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    padding: 0 18px;   
    border: 1px solid #bababa;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.form-login-password{
    width: 523px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    padding: 0 18px;
    border: 1px solid #bababa;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;

}

.mot {
    width: 100%;
}

.input{
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 15px;
    outline: none;
    
}

.icon{
    font-size: 20px;
}

.dangnhap{
    background-color: #C32270 ;
    width: 523px;
    height: 55px;
    margin-top: 25px;
    display: inline-flex;
    border-radius: 10px;
    
}

.button{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    margin: auto;
}

.quenmatkhau{
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
}






